<html>
<head>
<link rel = "stylesheet"
   type = "text/css"
   href = "/static/style.css" />
<title>Home Page</title>
<div class="page">
<nav>
<ul>
<li><a href="/register">My Comments</a></li>
<li><a href="/logout">Logout</a></li>
</ul>
</nav>
</div>
</head>
<body><form method="POST" action="/post">

<div class="">

<h2>Comments</h2>
<textarea rows ="6" cols = "60" name ="write" placeholder="write a comment"></textarea><br><br>


<button name="submit">Post</button>
</form></div><br>


</body>
</html>