<html>
<head>
<title>Register</title>
<link rel = "stylesheet"
   type = "text/css"
   href = "/static/style.css" />
</head>
<body>

<div class="form">
<h2>Register</h2>
<form method="POST" action ="/reg">
First Name:<br><input type="text" name="Fname"><br><br>
Last Name:<br><input type="text" name="Lname"><br><br>
Email:<br><input type="text" name="email"><br><br>
Username:<br><input type="text" name="username"><br><br>
Password:<br><input type="password" name="password"><br><br>
Confirm Password:<br><input type="password" name="cpassword"><br><br>
<button name="submit">Submit </button><a href="/loginPage">Login Here</a>
</form>

</div>

</body>
</html>