<html>
<head>
<title>Home Login
</title>

<link rel="stylesheet" type="text/css" href="/static/sty.css">
</head>
<body><div class="topnav"><ul><li><a href="">
HELP</a></li><li><a href="">ABOUT</a></li><li><a href="/loginPage">HOME</a></li>
</ul>
</div>
<form class="login" action = "http://localhost:9870/post_comments" method = "POST">
<h2>Login</h2>
Username:<input type="text" name="username" placeholder="username"><br><br>
Password:<input type="password" name ="password" placeholder="password"><br><br>
<input type=submit value="Login" name="submit">
<a href="/register">Register</a>
</form>
</body>
</html>